numpy==1.21.5
tabulate==0.8.9
tqdm==4.63.0
autokeras==1.0.18
sympy==1.8
mlxtend==0.19.0
livelossplot==0.5.4
torch==1.10.0
joblib==1.0.1
tensorflow==2.8.0
seaborn==0.11.2
imbalanced_learn==0.8.1
dill==0.3.4
tensorflow_addons==0.16.1
matplotlib==3.4.3
anytree==2.8.0
keras_tuner==1.1.0
xgboost==1.5.2
psutil==5.8.0
interruptingcow==0.8
keras_nightly==2.5.0.dev2021032900
prettytable==2.2.0
numba==0.55.1
treelib==1.6.1
pandas==1.3.3
scipy==1.7.1
more_itertools==8.9.0
researchpy==0.3.2
tensorflow_probability==0.13.0
imblearn==0.0
ipython==8.3.0
keras==2.9.0
scikit_learn==1.1.0
